.hero-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
}

.hero-logo {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-self: center;
}

.hero-text {
  width: fit-content;
  font-size: 30px;
  color: #ffca0a;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
